<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.remotify.app</string>
		<key>Program</key>
		<string>/Users/shivi/Google\ Drive/Shivansh\ 2016_2017/University/1A/SE101/finalProject/team07/remotify.sh</string>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>